__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv/
*.egg-info/
dist/
build/
.eggs/
*.egg

.env
.DS_Store

# Python cache
.pytest_cache/
.mypy_cache/

# Editor/IDE
.idea/
.vscode/

# Coverage & reports
.coverage
coverage.xml
htmlcov/

# Local data artifacts
data/**/*.tmp
data/**/*.bak
sample_data.csv

data/uploads/*
data/results/*
!data/uploads/.gitkeep
!data/results/.gitkeep

.Rhistory
.RData
.Rproj.user
